<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="filetype" content="0">
    <meta name="publishedtype" content="1">
    <meta name="pagetype" content="2">
    <meta name="catalogs" content="51725">
    <meta name="subject" content="51725;1">
    <meta name="uctk" content="enabled">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>快乐放暑假，“安全”不放假</title>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css">
    <link type="text/css" rel="stylesheet" href="/static/css/detail.css">
    <script src="/static/js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
<!--    <script src="layer/layer.js" type="text/javascript" charset="utf-8"></script>-->
</head>

<body>
<!--顶部图片-->
<div id="header-img">
    <img src="../static/images/header.png" style="width: 100%; height: auto;" >
</div>
<!--顶部图片//-->
<!--安全知识-->
<div class="zhuanti-section">
    <div class="lanmu-title">
        <img src="/static/images/lanmu3.png" alt="安全知识">
    </div>
</div>
<div class="zhuanti-section">
    <div class="zhuanti-focus">
        <div class="swiper-container" id="focus">
            <ul class="swiper-wrapper" style="width: 3926.4px; transform: translate3d(-981.6px, 0px, 0px); transition-duration: 0s; height: 582px;">
                <li class="swiper-slide swiper-slide-duplicate" style="width: 981.6px; height: 582px;">

                    <a href="video1.html" target="_blank">
                        <img src="/static/images/video1.png">
                    </a>
                    <a class="zhuanti-focus-title" href="video1.html" title="珍爱生命，预防溺水告知书(学生篇)" target="_blank">
                        <p>珍爱生命，预防溺水告知书（学生篇）--视频</p>
                    </a>
                </li>
                <li class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 981.6px; height: 582px;">
                    <a href="video2.html" target="_blank">
                        <img src="/static/images/video2.png">
                    </a>
                    <a class="zhuanti-focus-title" href="video2.html"
                       title="珍爱生命，预防溺水倡议书（家长篇）" target="_blank">
                        <p>珍爱生命，预防溺水倡议书（家长篇）--视频</p>
                    </a></li>
                <li class="swiper-slide" style="width: 981.6px; height: 582px;">
                    <a href="video3.html" target="_blank">
                        <img src="/static/images/video3.png"></a>
                    <a class="zhuanti-focus-title" href="video3.html"
                       title="暑假安全不放假" target="_blank">
                        <p>暑假安全不放假--视频</p>
                    </a></li>
                <li class="swiper-slide swiper-slide-duplicate" style="width: 981.6px; height: 582px;">
                    <a href="video4.html" target="_blank">
                        <img src="/static/images/video4.png">
                    </a>
                    <a class="zhuanti-focus-title" href="video4.html" title="暑假安全小知识" target="_blank">
                        <p>暑假安全小知识--视频</p>
                    </a>
                </li>
            </ul>
            <ul class="swiper-pagination">
                <li class="swiper-pagination-bullet  swiper-pagination-bullet-active"></li>
                <li class="swiper-pagination-bullet"></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            var focusBox = $('#focus');
            var focusWrapper = focusBox.find('.swiper-wrapper');
            var focusSlider = $('.swiper-slide');
            var focusSwiper = new Swiper("#focus", {
                autoplay: 5000,
                loop: true,
                calculateHeight: true,
                pagination: '.swiper-pagination',
                paginationElement: 'li',
                paginationElementClass: 'swiper-pagination-bullet',
                paginationActiveClass: 'swiper-pagination-bullet-active',
                paginationVisibleClass: '',
                paginationClickable: true,
                autoplayDisableOnInteraction: false
            });
        });
    </script>
    <div class="zhuanti-yw">
        <li><a href="news3.html" target="_blank">【暑假安全篇】暑假安全温馨提示</a></li>
        <br/>
        <li><a href="news4.html" target="_blank">给全国中小学校！新学期加强心理健康教育的10条指导建议来了</a></li>
        <br/>
        <li><a href="news5.html" target="_blank">保护孩子！《儿童个人信息网络保护规定》施行</a></li>
        <br/>
        <li><a href="news6.html" target="_blank">急救知识纳入中小学考试，心肺复苏这道题你会做吗？</a></li>
        <br/>
        <li><a href="news7.html" target="_blank">科普来了，8条保护视力实用建议告诉孩子</a></li>
    </div>
</div>
<!--安全知识//-->
<!--每日提醒-->
<div class="zhuanti-section">
    <div class="lanmu-title">
        <img src="../static/images/lanmu(1).png" alt="每日提醒">
    </div>
    <dl>
        <dd class="left-side">
            <h2>
                学生篇
            </h2>
            <div class="description">
                <h3>2020中小学生暑期安全提示42条</h3>
                <p>（一）、加强疫情防控</p>
                <p>1. 乘坐公共交通、乘电梯时要佩戴口罩。</p>
                <p>2. 不去人员密集场所。</p>
                <p>3.外出回家先洗手。</p>
                <p>4.居家时要多开窗通风。</p>
                <p>5.不去疫区旅行。</p>
                <p>6.作息规律、加强锻练、营养均衡。</p>
                <p>（二）、注意交通安全</p>
                <p>7. 遵守交通法规，不闯红灯、不翻越...<a class="more" href="news1.html"  target="_blank">详情&gt;&gt;</a></p>
<!--                <button type="button"id="sign1">今日打卡</button>-->
            </div>
        </dd>
        <dd class="right-side">
            <h2>
                家长篇
            </h2>
            <div class="description">
                <h3>2020中小学生暑期安全家长提示43条</h3>
                <p>（一）、每年暑假都是儿童溺水事件高发期。防止儿童溺水应做到：</p>
                <p>1、不让孩子独自下水，时刻专心看护；</p>
                <p>2、坚持让孩子穿高质量的救生圈或浮身物；</p>
                <p>3、要求孩子下水前活动身体，避免出现抽筋等现象；</p>
                <p>4、在水中不要让孩子吃东西，也不要剧烈地追逐打闹，以防呛水窒息；</p>
                <p>5、不带孩子去不熟悉，无安全设施、无救援人员的水域...<a class="more" href="news2.html" target="_blank">详情&gt;&gt;</a></p>
<!--                <button type="button"><a href="javascript::" id="sign2">今日打卡</a></button>-->
            </div>
        </dd>
    </dl>
</div>
<!--每日提醒//-->
<!--打卡区-->
<div class="lanmu-title">
    <img src="/static/images/dakaqu.png" alt="打卡区">
</div>
<div class="zhuanti-section">
    <dl>
        <dd class="left-side">
            <a href="sign11.html">
                <img src="/static/images/rukou1.png" style="width: 100%;height: auto">
            </a>
        </dd>
        <dd class="right-side">
            <a href="sign2.html">
                <img src="/static/images/rukou2.png" style="width: 100%;height: auto">
            </a>
        </dd>
    </dl>
</div>
<div class="zhuanti-section">
    <dl>
        <dd class="left-side">
            <div class="description2">
                <h2>今日榜</h2>
                <h3 id="todayCount"></h3>
                <marquee direction="up" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()">
                    <div id="list1"></div>
                </marquee>
            </div>
        </dd>
        <dd class="right-side">
            <div class="description2">
                <h2>县区榜</h2>
                <h3 id="totalCount"></h3>
                <div id="list2"></div>
            </div>
        </dd>
    </dl>
</div>
<script type="text/javascript">
    var myDate = new Date();
    var today = myDate.toLocaleDateString();//获取今日日期
    $(document).ready(function () {
        $.ajax({
            url:'/getIndexData',
            type:'get',
            data:{time:today},
            success: function (res) {
                console.log(res);
                if (res.msg=="success"){
                    $("#todayCount").text("今日共有"+res.todayCount+"人完成打卡");
                    $("#totalCount").text("总共有"+res.totalCount+"人完成打卡")
                    var html1 = '';
                    var html2 = '';
                    var list1 = res.list1;
                    var list2 = res.list2;
                    for(var i=0;i<list1.length;i++){
                        html1 += '<p>'+list1[i].name+'完成今日打卡</p>';
                    }
                    for(var i=0;i<list2.length;i++){
                        html2 += '<p>'+list2[i].area+'：'+list2[i].counts+'人</p>';
                    }
                    $("#list1").html(html1);
                    $("#list2").html(html2);
                }else {
                    alert("首页获取数据失败");
                }
            }

        })
    })

</script>

<!--打卡区-->
<!--图片区-->
<div class="zhuanti-section">
    <div class="lanmu-title">
        <img src="/static/images/lanmu4.png" alt="图说教育">
    </div>
    <div id="huigu-box">
        <ul id="wangqi">
            <li><a href="pic1.html" target="_blank"><img src="/static/images/pic1.png" alt=""></a></li>
            <li><a href="pic2.html" target="_blank"><img src="/static/images/fengmian21.png" alt=""></a></li>
            <li><a href="pic3.html" target="_blank"><img src="" alt=""></a></li>
            <li><a href="pic4.html" target="_blank"><img src="" alt=""></a></li>
            <li><a href="pic5.html" target="_blank"><img src="" alt=""></a></li>
            <li><a href="pic6.html" target="_blank"><img src="" alt=""></a></li>
            <li><a href="pic7.html" target="_blank"><img src="" alt=""></a></li>
        </ul>
    </div>
    <p class="tips">提示：左右滑动查看更多</p>
</div>
<!--图片区//-->
<div class="zhuanti-foot"><span>河源日报社</span><span>新媒体中心制作</span><span>2020年7月</span></div>
<script type="text/javascript" src="/static/js/swiper.v2.min.js"></script>
<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        var mydate = new Date();-->
<!--        var time = mydate.toLocaleDateString();-->
<!--        alert(time);-->
<!--        $.ajax({-->
<!--            url: '/getList',-->
<!--            type: 'get',-->
<!--            data: {time:time},-->
<!--            success: function (res) {-->
<!--                alert("success");-->
<!--                console.log(res);-->
<!--                $("#total").text("总共有"+res.totalCount+"人完成打卡");-->
<!--                $("#today").text("今日共有"+res.todayCount+"人完成打卡");-->
<!--                var html = '';-->
<!--                for(var i=0;i<res.list.length;i++){-->
<!--                    html += '<p>'+res.list[i].name+'完成今日打卡</p>';-->
<!--                }-->
<!--                $("#list1").html(html);-->
<!--                $("#list2").html(html);-->
<!--            },error: function(){-->
<!--                alert("ajax获取列表失败");-->
<!--            }-->
<!--        })-->
<!--    })-->
<!--</script>-->


</body>
</html>
