<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="filetype" content="0">
		<meta name="publishedtype" content="1">
		<meta name="pagetype" content="2">
		<meta name="catalogs" content="51725">
		<meta name="subject" content="51725;1">
		<meta name="uctk" content="enabled">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<title>快乐放暑假，“安全”不放假</title>
		<link type="text/css" rel="stylesheet" href="/static/css/main.css">
		<link type="text/css" rel="stylesheet" href="/static/css/detail.css">
<!--		<link rel="stylesheet" type="text/css" href="/static/css/news.css"/>-->
		<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
	</head>
	<body>
		<div id="header-img">
			<img src="/static/images/top.jpg" style="width: 100%; height: auto;" >
		</div>
		<div class="zhuanti-section">
			<div class="lanmu-title">
				<img src="/static/images/lanmu3.png" alt="安全知识">
			</div>
			<div class="content">
				<h1>【暑假安全篇】暑假安全温馨提示</h1>
				<div id="content_date_source">2020-07-26
				来源：湖北省教育厅微信公众号
				</div>
				<p>　　暑假即将来临，为了提高大家的安全防范意识和能力，让孩子度过一个平安、健康、快乐的暑假，近日，省教育厅制发了幼儿园、中小学、高校的暑假安全温馨提示，赶快来看看吧！</p>
				<p align="center"><strong>幼儿园暑假安全温馨提示 </strong></p>
				<p>各位家长：</p>
				<p>　　暑假即将来临，为了提高大家的安全防范意识和能力，现就相关安全事项提示如下，请您仔细阅读，认真履行监护责任，让孩子度过一个平安、健康、快乐的暑假。</p>
				<p>　　1.孩子应时刻在家长的视线与监管范围内，不把孩子单独留在室里、车内，不让孩子在无成年人陪同情况下外出活动。</p>
				<p>　　2.不让孩子独自或结伴到马路边、水边、建筑工地等危险区域玩耍，防止交通、溺水等事故。</p>
				<p>　　3. 做好家庭阳台、平台等区域的安全防护。教育孩子不向楼下抛东西，不攀爬阳台、门窗或其他高处，谨防摔伤、坠落。</p>
				<p>　　4. 及时排查家中电线、燃气管道、电器、刀具及其他器械安全，防止触电、烫伤、煤气中毒、器械伤害等事故。</p>
				<p>　　5. 将易燃、易爆、易碎、有毒、锋利或其他对孩子身心有不良影响的玩具、物品保管好，不让孩子接触。教育孩子不随意把东西放进嘴、耳、鼻、眼中，不随意把东西套在头上和脖子上。</p>
				<p>　　6. 不让孩子食用不符合卫生要求的饮食，少吃冰冻饮食，不暴饮暴食。家中药品妥善放置，不让孩子随意触碰。不让孩子沉迷手机等电子产品。</p>
				<p>　　7.教育孩子与小朋友友好相处，不抓、咬、打同伴。外出时，和孩子一起遵守交通规则、乘车规则，注意交通安全。教育孩子不逗打猫、狗等动物。</p>
				<p>　　8. 教育孩子不让其他人看、触摸、拍摄自己的隐私部位。</p>
				<p>　　9.教育孩子不接受陌生人的食物、礼物，不把家庭信息告诉陌生人，被陌生人强迫带走时大声呼救并跑向人群密集处，与家人走散时应留在原地不动或向警察求助。</p>
				<p>　　10.教育孩子熟知自己的姓名、园名、家庭住址及家长的姓名、电话、单位，遇到意外会求助，会表达清楚。</p>
				<p align="center"><strong>中小学暑假安全温馨提示 </strong></p>
				<p>各位家长：</p>
				<p>　　暑假即将来临，为了提高大家的安全防范意识和能力，现就相关安全事项提示如下，请您仔细阅读，认真履行监护责任，让孩子度过一个平安、健康、快乐的暑假。</p>
				<p><strong>　　一、出行安全 </strong></p>
				<p>　　1.过马路走斑马线、天桥或地下通道，不闯红灯，不翻越隔离栏。注意要走人行道，靠右行。</p>
				<p>　　2.未满12周岁不骑自行车，未满16周岁不骑电动自行车。</p>
				<p>　　3.不在马路上、停放车辆周围玩耍，行走或骑车时不看手机、不听音乐，不在机动车道骑车。</p>
				<p>　　4.不坐无客运资质的车辆（如农用车、三轮车等），不坐超速、超载、酒驾、毒驾、疲劳驾的车辆，发现立即报警。</p>
				<p>　　5.不在暴雨、雷电等天气环境和易发泥石流、滑坡、塌方等地质灾害环境逗留、玩耍。</p>
				<p><strong>　　二、防溺水安全 </strong></p>
				<p>　　6.不在河边、亲水平台、工地水坑等区域玩耍。</p>
				<p>　　7.不捡拾掉入河道等水域的物品，不在河道边洗东西、抓水草、鱼虾、青蛙等。</p>
				<p>　　8.不私自下水游泳，不擅自与他人结伴游泳，不在无家长或教师带领的情况下游泳。</p>
				<p>　　9.不到无安全设施、无救援人员的水域游泳，不到不熟悉的水域游泳。</p>
				<p>　　10.发现同伴溺水，立即寻求成人帮助，不手拉手盲目施救，要智慧救援。</p>
				<p><strong>　　三、外出活动安全 </strong></p>
				<p>　　11.不在飘窗、阳台上嬉闹，不到无护栏的平台玩耍，不拥挤、攀爬护栏设施。</p>
				<p>　　12.在大众场所出口、楼道要慢行、不拥挤，讲究通行秩序，远离拥挤场所，避免拥挤踩踏。</p>
				<p>　　13.不在设有危险标志处停留，不在工地、轨道、高压线等危险区域玩耍。</p>
				<p>　　14.不玩色情、暴力等不健康游戏，不沉迷网络和电子游戏，慎交网友，不与陌生网友见面。</p>
				<p>　　15.防范电信、网络诈骗，不去网吧、酒吧以及歌舞娱乐场所。</p>
				<p><strong>　　四、心理健康安全 </strong></p>
				<p>　　16.正直开朗、积极乐观，多与老师、父母、同学及亲朋好友沟通交流。</p>
				<p>　　17. 积极参加健康、活泼的集体活动。不盲目参与社会辅导，不参与无资质社会培训机构培训。</p>
				<p>　　18.遇到问题尽力自己解决，同时学会请他人帮助解决，遇到挫折不气馁，树立信心。</p>
				<p>　　19.不欺凌他人，不打架斗殴，不抽烟、喝酒、打牌、吸毒。</p>
				<p>　　20.不轻信网络信息，不传谣言，不参与迷信、邪教、传销等非法活动。</p>
				<p><strong>　　五、家校协作 </strong></p>
				<p>　　21.学生未按时到校要请假，提前离校要报批，家校及时沟通配合。</p>
				<p>　　22.学校经常性向家长告知相关安全知识和防范要求，提供指导和提醒。</p>
				<p>　　23.家长主动学习安全防范知识，掌握安全要求，认真开展家庭安全教育，履行监护责任。</p>
				<p>　　24.孩子假期外出活动，家长要知去向、知内容、知归时、知同伴，提前做好安全教育防范。</p>
				<p>　　25.学校和家长要积极支持学生参与政府组织的安全教育宣传活动，增强安全工作合力。</p>
				<p align="center"><strong>高等学校暑假安全温馨提示 </strong></p>
				<p>各位同学：</p>
				<p>　　暑假即将到来，为提高大家的安全防范意识和能力，现将相关安全注意事项提示如下，请仔细阅读，切实保护自己的人身和财产安全，度过一个安全、愉快的假期。</p>
				<p>　　1.认真学习安全知识，牢固树立安全意识，提高安全防范技能，杜绝安全事故的发生，确保自身的人身和财产安全。</p>
				<p>　　2.注意人身安全，不到无安全设施、无救援人员的水域游泳，不会水性的学生不要擅自下水施救；自觉遵守交通法规，不乘坐无营运证或超载的交通工具，不无证驾驶机动车；高温天气注意防暑降温。</p>
				<p>　　3.暑期留校的学生，外出锁好宿舍门窗，保管好随身贵重物品；注意用电安全，离开宿舍及时断电，不在宿舍乱拉乱接电线，不使用大功率电器、劣质插座和劣质充电器。</p>
				<p>　　4.不沉迷网络和电子游戏，对不熟悉的网络游戏、直播、QQ群、微信群、贴吧不接触不参与；注意保护个人信息，警惕各类电信诈骗和网络诈骗，发现有问题及时报警；理性表达观点，不造谣不信谣不传谣；增强金融风险防范意识，不参与网络不良借贷。</p>
				<p>　　5.暑期离校外出，要把个人去向及联系方式告知辅导员、舍友、同学、家长，并务必保持通讯工具畅通；参加勤工助学、社会实践、求职择业等活动须获得学校和家长同意, 谨防传销、邪教等非法组织诱骗。</p>
				
			</div>
		</div>
		<div class="zhuanti-foot"><span>河源日报社</span><span>新媒体中心制作</span><span>2020年7月</span></div>
	</body>
</html>
