<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="filetype" content="0">
		<meta name="publishedtype" content="1">
		<meta name="pagetype" content="2">
		<meta name="catalogs" content="51725">
		<meta name="subject" content="51725;1">
		<meta name="uctk" content="enabled">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<title>快乐放暑假，“安全”不放假</title>
		<link type="text/css" rel="stylesheet" href="/static/css/main.css">
		<link type="text/css" rel="stylesheet" href="/static/css/detail.css">
<!--		<link rel="stylesheet" type="text/css" href="/static/css/news.css"/>-->
		<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
	</head>
	<body>
		<div id="header-img">
			<img src="/static/images/top.jpg" style="width: 100%; height: auto;" >
		</div>
		<div class="zhuanti-section">
			<div class="lanmu-title">
				<img src="/static/images/lanmu3.png" alt="安全知识">
			</div>
			<div class="content">
				<h1>急救知识纳入中小学考试，心肺复苏这道题你会做吗？</h1>
				<div id="content_date_source">2020-07-26
				来源：新华网
				</div>
				<p>国家出台的《健康中国行动（2019—2030年）》明确提出，要实施中小学健康促进行动，把学生健康知识、急救知识，特别是心肺复苏纳入考试内容。</p>
				<p>恰逢暑假，外出旅游掌握一些必备的急救知识，关键时刻也能用得上。跟随教育小微，看长图，学习一下心肺复苏的方法吧。</p>
				<img src="/static/images/news6.jpg" style="width: 100%; height: auto;" >
			</div>
		</div>
		<div class="zhuanti-foot"><span>河源日报社</span><span>新媒体中心制作</span><span>2020年7月</span></div>
	</body>
</html>
