<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="filetype" content="0">
		<meta name="publishedtype" content="1">
		<meta name="pagetype" content="2">
		<meta name="catalogs" content="51725">
		<meta name="subject" content="51725;1">
		<meta name="uctk" content="enabled">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<title>快乐放暑假，“安全”不放假</title>
		<link type="text/css" rel="stylesheet" href="/static/css/main.css">
		<link type="text/css" rel="stylesheet" href="/static/css/detail.css">
<!--		<link rel="stylesheet" type="text/css" href="/static/css/news.css"/>-->
		<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
	</head>
	<body>
		<div id="header-img">
			<img src="/static/images/top.jpg" style="width: 100%; height: auto;" >
		</div>
		<div class="zhuanti-section">
			<div class="lanmu-title">
				<img src="/static/images/lanmu3.png" alt="安全知识">
			</div>
			<div class="content">
				<h1>给全国中小学校！新学期加强心理健康教育的10条指导建议来了 </h1>
				<div id="content_date_source">2020-07-26
				来源：微言教育微信公众号
				</div>
				<p>　　当前，新冠肺炎疫情防控形势持续向好，各地中小学积极推进开学复课工作。为更好帮助各地师生顺利适应新学期，教育部中小学心理健康教育专家指导委员会向全国中小学校提出10条指导建议。随教育小微一起来看↓↓↓</p>
				<p>　　<strong>给全国中小学校新学期加强心理健康教育的指导建议</strong></p>
				<p>　　当前，新冠肺炎疫情防控形势持续向好，疫情在全国范围内得到有效控制，各地中小学积极推进开学复课工作。为更好帮助各地师生顺利适应新学期，以更积极的心态投入开学后的教育教学工作和校园学习，教育部中小学心理健康教育专家指导委员会向全国中小学校提出如下指导建议。</p>
				<p align="center"><img style="border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-top-width: 0px" uploadpic="/static/images/news4.jpg" alt="" src="/static/images/news4.jpg" oldsrc="/static/images/news4.jpg"></p>
				<p>　　<strong>建议1：开展开学复课衔接工作，提升学生的学习生活适应能力</strong></p>
				<p>　　对于入学后学生可能存在的适应不良问题，学校要提前预判，在教学安排上预留调整适应期,可提前发布开学后的教学计划安排和作息时间表，让学生早知情、早安心、早准备。引导学生提前做好迎接开学的行动准备，通过准备返校物品、制定复学计划等方式提升对新学期的期待和信心。上好“复学第一课”，平稳度过开学第一周，通过开展疫情防控、生命安全、卫生健康等主题班会，积极引导学生分享、总结居家学习生活期间学习体会和成长感悟。课堂教学可延续线上教学时的一些有效方法，帮助学生实现从在线学习到课堂的平稳过渡。对于学习上确实存在困难的学生，及时通过线上、线下渠道给予个别化指导和帮助，引导其尽快适应新的学习环境和学习方式。</p>
				<p>　　<strong>建议2：做好师生心理健康状况分析，制定心理健康教育工作方案</strong></p>
				<p>　　疫情对师生心理健康会产生一定负面影响，学校在开学前后要及时进行师生身心健康状况摸底，根据师生的反馈信息，制定有针对性的心理健康教育工作方案。开学前通过在线调查和线上沟通，充分了解全体师生受疫情影响的情况。开学后通过师生自我报告、日常观察、专业心理评估等方式，掌握困扰师生的具体压力来源和情绪行为问题。同时，要关注疫情对师生心理健康状况的影响可能存在长期性和隐蔽性，有些心理应激症状会延迟出现，国外疫情形势发展也可能给师生带来心理困扰，进行师生心理健康状况分析时要注意定期、多次、全面掌握。</p>
				<p>　　<strong>建议3：开展针对性的心理健康教育课程和活动，帮助学生做好心理调适</strong></p>
				<p>　　针对疫情期间学生可能的心理困扰（如过度焦虑、紧张、恐惧、心情低落、挫败感、失眠少觉等）和行为问题（如注意力不集中，作息不规律、长时间玩游戏等）开展心理讲座、心理健康教育课、同伴互助、团体辅导等活动，帮助学生掌握简便有效、容易操作的心理调适方法。要注重结合学生的不同年龄特征与个性差异开展工作，对于小学阶段的学生，鼓励他们用游戏的方式表达，学会识别情绪并加以调节；对于初中阶段的学生，鼓励他们加强人际交往，通过沟通表达情绪、情感，提升积极心理品质；对于高中阶段的学生，采用班队会等多种形式，宣传在疫情中出现的先进事迹，进行生命教育和生涯教育。</p>
				<p align="center"><img style="border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-top-width: 0px" uploadpic="W020200426323058603870.jpg" alt="" src="./W020200426323058603870.jpg" oldsrc="W020200426323058603870.jpg"></p>
				<p>　　<strong>建议4：针对心理困扰较大的学生，提供及时有效的个体心理辅导</strong></p>
				<p>　　关注和重视受疫情影响较大的学生，对其提供充足的情感、生活和学业支持，开展有效心理辅导，发现异常情况及时应对、及时上报。特别关注在疫情前就有心理问题的学生，开展追踪评估，结合以往辅导记录，提供预防性心理辅导，协助其维持心理健康水平。特别关注来自重点疫区或身边有亲人感染新冠病毒并对此感受到焦虑和压力的学生，提供支持性心理辅导，积极改善其周边人际环境，减少可能的排斥和歧视。特别关注在疫情期间出现明显情绪问题、沉迷电子产品或行为偏差等情况的学生，提供干预性心理辅导，开展行为矫正，协助其回归正常学习生活。特别关注情绪波动较大的学生，提供陪伴性心理辅导，建立同伴互助小组，协助其接纳和调节自己的情绪，促进其转变认知、优化心态。</p>
				<p>　　<strong>建议5：通过多种方式缓解教师职业压力，指导教职员工有序开展教育教学工作</strong></p>
				<p>　　新学期开学，教师面临调整教学计划和课程安排、了解掌握学生学习进展情况、参与学校疫情防控工作、帮助学生做好居家学习与在校学习衔接等任务，工作压力较大。学校要统筹疫情防控和教育教学工作，合理安排教职员工的疫情防控、线上和线下授课、班级管理等工作量，让班主任和学科教师将更多精力投入到班级管理和授课中。要切实关心教职员工心理健康，帮助他们解决教学和生活中遇到的难题，给予心理支持。组织形式适宜的教师活动，鼓励教师自主调整情绪，建立积极的生活观和工作观，提高生活满意度和职业幸福感，也对学生起到良好的榜样示范作用。</p>
				<p>　　<strong>建议6：针对受疫情影响产生严重心理问题的个别师生，提供长期专业心理干预、转介和支持服务</strong></p>
				<p>　　持续关注和追踪心理问题较严重或持续时间较长、影响正常学习、生活和工作的师生，并联合家庭、班主任和社区共同制定心理危机干预方案。要向师生推介社会心理服务官方资源，掌握向专业的医疗机构和心理援助机构寻求专业支持的方法，提高师生寻求社会支持的能力。对于存在严重心理和行为问题以及精神疾患的师生，学校应做好隐私保护，设立标准化处置流程，及时将有关情况反馈给家长或亲属，并转介到专业的医疗机构和心理援助机构，联合家庭、社区及医疗机构将各项流程措施落实到位。</p>
				<p align="center"><img style="border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-top-width: 0px" uploadpic="W020200426323261933648.jpg" alt="" src="./W020200426323261933648.jpg" oldsrc="W020200426323261933648.jpg"></p>
				<p>　　<strong>建议7：为毕业年级学生提供全方位支持，协助学生以自信平稳的心态积极备考</strong></p>
				<p>　　学校应对面临疫情、考试和升学多重压力的初三、高三年级学生提供教育、教学和心理的全方位支持。学校要及时向教师、学生和家长解读考试延期带来的复习、考试、志愿填报和录取招生等安排的变化，解答师生、家长的典型问题。如志愿填报和录取工作整体可能延迟、新生秋季入学时间可能会发生变化、暑假时间也可能相应调整等。公布学校相应的应对措施，提醒师生和家长提前做好心理准备。教师要做好线上、线下教学衔接工作，及时分析学情，及时调整教学进度，指导学生制定合理的复习规划。学校要关注学生的情绪变化，提供考前情绪指导，开展适当的文体活动和团体心理辅导，引导学生调节身心状态，树立信心，积极备考。</p>
				<p>　　<strong>建议8：加强权威信息推介和宣传引导，增强师生心理正能量</strong></p>
				<p>　　学校要高度重视疫情期间大量信息传播对师生产生的心理和观念冲击，及时向全校学生、家长及教职员工传递权威政策信息，避免教师、学生和家长的猜测，提高信息辨别和独立思考能力，降低焦虑情绪。可通过推广校内外志愿服务活动、学习疫情期间身边优秀榜样事迹、抗疫斗争中各战线表现突出人员尤其是90后、00后临危不惧、最美逆行的故事等，面向师生用小切口展现大视野，以小事件体现大情怀，帮助师生汲取正能量，引导思考平凡与伟大、个人与集体、生命与健康的关系，塑造积极向上的成长型思维，增强集体荣誉感、自信心和凝聚力。</p>
				<p>　　<strong>建议9：注重疫情防控与学校文化活动相结合，营造平安健康文明校园</strong></p>
				<p>　　疫情防控工作是中小学开学后较长一段时间的重要工作。中小学校要重视常态化疫情防控工作的公开透明，定期向全体师生、家长宣传疫情防控知识、公布相关工作进展。提供有效沟通渠道，听取师生和家长对于学校疫情防控的意见建议。出现特殊事件时，要以“及时、真诚、负责”为原则做好说明并付诸行动，积极争取师生对开学后疫情防控工作的理解和支持，降低师生对复学的不安全感，避免因疫情防控而造成的人际隔阂。在符合防控要求的前提下，创新学校文化活动形式，可通过网络平台、微博、微信群、广播、主题讲座、宣传栏、读书角、角色扮演、心理剧等形式，促进师生交流和共同探索，营造温馨和谐、积极向上的校园氛围。</p>
				<p>　　<strong>建议10：加强家校沟通，指导家庭教育，协助家长建立良好的亲子关系</strong></p>
				<p>　　良好的家校沟通对于平稳复学非常重要。学校要指导班主任和各科教师做好家校沟通，细化沟通内容、沟通频率、沟通形式，完善沟通流程。要及时向家长通报教育教学安排，缓解家长焦虑情绪，争取家长理解和支持。要定期开展线上家长学校活动，就困扰家长的典型问题开展专题讲座，例如，如何培养孩子的自律自学能力，如何控制电子产品使用，如何与青春期孩子沟通等，提高家长科学育儿和开展家庭教育的能力，缓解疫情期间家庭矛盾，协助家长建立良好的亲子关系。要对特殊群体，如医护人员子女、流动和留守儿童等给予重点关注，对家长提出的家庭教育问题多倾听、多理解，主动答疑解惑，帮助家长寻找解决之道。</p>
				
			</div>
		</div>
		<div class="zhuanti-foot"><span>河源日报社</span><span>新媒体中心制作</span><span>2020年7月</span></div>
	</body>
</html>

